.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  background: rgba(0 0 0 / 70%);
  overflow: hidden;
}

.arrowContainer {
  margin: auto 7px;
}

.button {
  width: 20px;
  transform: rotate(180deg);
  transition: transform var(--transition-time);
  pointer-events: all;
}

.button > img {
  height: 20px;
  transition: transform var(--transition-time);
  transform-origin: 100% 50%;
}

.button > img:hover {
  transform: scaleX(1.5) scaleY(1.5);
}

.arrowLeft {
  transform: rotate(0deg);
}

.toolsContainer {
  transition: max-width var(--transition-time);
}

.fixedWidth {
  margin: 40px 10px 40px 40px;
  padding-right: 10px;
  width: calc(30vw - 40px);
  box-sizing: border-box;
  transition: opacity var(--transition-time);
  height: calc(100vh - 80px);
  overflow: auto;
}

.sliceContainer,
.sectionContainer {
  margin-bottom: 2rem;
}

.sliceOptions {
  display: flex;
  gap: 10px;
}
