.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  background: rgba(0 0 0 / 70%);
  overflow: hidden;
}

.arrowContainer {
  margin: auto 7px;
}

.button {
  width: 20px;
  transform: rotate(180deg);
  transition: transform var(--transition-time);
  pointer-events: all;
}

.button > img {
  height: 20px;
  transition: transform var(--transition-time);
  transform-origin: 100% 50%;
}

.button > img:hover {
  transform: scaleX(1.5) scaleY(1.5);
}

.arrowLeft {
  transform: rotate(0deg);
}

.toolsContainer {
  transition: max-width var(--transition-time);
}

.fixedWidth {
  margin: 40px 10px 40px 40px;
  padding-right: 10px;
  width: calc(30vw - 40px);
  box-sizing: border-box;
  transition: opacity var(--transition-time);
  height: calc(100vh - 80px);
  overflow: auto;
}

.sliceOptions {
  display: flex;
  gap: 10px;
  padding-bottom: 1rem;
}

.surfaceGraphic {
  height: 70px;
  margin: 0 auto;
  display: block;
}

.slider {
  padding: 0 20px;
}

.mobileContainer {
  background-color: rgba(0 0 0 / 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 30vh;
}

@media (max-width: 1000px) {
  .toolsContainer {
    margin: 10px;
  }

  .closeButton {
    width: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }

  .closeButton:hover {
    opacity: 1;
  }

  .closeButton img {
    width: 100%;
  }

  .closeHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
  }

  .closeHeader > h2 {
    font-size: 0.8rem;
    font-weight: var(--calcite-font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.2rem 0;
  }

  .toolsWrapper {
    height: calc(30vh - 45px);
    overflow: auto;
    padding-right: 10px;
  }
}
