.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  pointer-events: none;
  color: white;
}

.container > div {
  margin: auto 5px;
}

.button {
  width: 20px;
  pointer-events: all;
}

.button > img {
  height: 20px;
  transition: height var(--transition-time), transform var(--transition-time);
}

.button > img:hover {
  height: 30px;
}

.buttonRight > img {
  transform: rotate(180deg);
}

.variablesContainer {
  transition: max-width var(--transition-time);
  overflow: hidden;
}

.variablesList {
  width: 200px;
  transition: opacity var(--transition-time);
  padding: 0;
  list-style: none;
  margin: 0;
}

.variablesList > li {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 7px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color var(--transition-time), opacity var(--transition-time);
  opacity: 0.7;
  pointer-events: all;
  text-shadow: 0 0 5px black;
}

li.selectedVariable,
.variablesList > li:hover {
  background-color: rgba(0 0 0 / 70%);
  opacity: 1;
}

.mobileContainer {
  background-color: rgba(0 0 0 / 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 30vh;
}

@media (max-width: 1000px) {
  .variablesList {
    width: auto;
    overflow: auto;
    height: calc(30vh - 45px);
  }

  .variablesContainer {
    width: 100%;
  }

  .variablesList > li {
    text-shadow: none;
    transition: none;
  }

  li.selectedVariable,
  .variablesList > li:hover {
    background-color: rgb(111 221 255/ 30%);
    opacity: 1;
  }
  .closeButton {
    width: 10px;
    border: none;
    cursor: pointer;
  }

  .closeButton:hover {
    opacity: 1;
  }

  .closeButton img {
    width: 100%;
  }

  .closeHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .closeHeader > h2 {
    font-size: 0.8rem;
    font-weight: var(--calcite-font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.2rem 0;
  }
}
