.introContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* positioning content on the center */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d5f7d;
  background-image: url('./ocean-resized.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.solutionImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./annotations.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 500ms;
  pointer-events: none;
}

.introContent {
  width: min(60%, 1000px);
  max-height: 80%;
}

.titleContainer,
.buttons {
  height: 50%;
  text-align: center;
}

.introTitle {
  font-size: 1.5rem;
}

.introTitle > a {
  position: relative;
  color: var(--calcite-ui-text-1);
  text-decoration: none;
  transition: color var(--transition-time);
  background: linear-gradient(180deg, transparent 60%, rgb(111 221 255/ 50%) 80%, rgb(111 221 255/ 50%) 90%);
}

.introTitle > a:hover {
  color: rgb(111, 221, 255);
}

.introButton {
  color: var(--calcite-ui-text-1);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--calcite-ui-text-1);
  margin: 1rem;
  padding: 0.3rem;
  transition: opacity var(--transition-time);
}

.introButton:hover {
  opacity: 1;
}

.opaque {
  opacity: 1;
}

.transparent {
  opacity: 0.4;
}

.exploreButton {
  font-size: 1.7rem;
  line-height: 1.5rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: rgba(1, 46, 68, 0.4);
  margin-top: 2rem;
  transition: background-color var(--transition-time);
}

@media (hover: hover) and (pointer: fine) {
  .exploreButton:hover {
    background-color: rgba(1, 46, 68, 0.8);
  }
}

@media (max-width: 1000px) {
  .introTitle {
    font-size: max(1.1rem, 2.5vw);
  }
  .introContent {
    width: min(80%, 1000px);
  }
  .introButton {
    font-size: 1.1rem;
  }
  .exploreButton {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
  }
}
