.appFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: var(--calcite-font-size--1);
  padding: 0 10px;
  pointer-events: all;
  display: flex;
  align-items: center;
}

.esriLogo {
  height: 30px;
  width: 120px;
  flex-shrink: 0;
  overflow: hidden;
  display: inline-block;
}

.esriLogo a {
  border-bottom: none;
}
.esriLogo a:hover {
  border-bottom: none;
}

.esriLogo:hover img {
  border-bottom: none;
  height: 28px;
}

.esriLogo img {
  height: 25px;
  transition: height 300ms;
}

.showIntroButton {
  color: rgba(255 255 255 / 50%);
  transition: color var(--transition-time);
}

.showIntroButton:hover {
  color: rgba(255 255 255 / 80%);
}

.appFooter span {
  color: rgba(255 255 255 / 50%);
  padding: 10px;
}

a {
  color: rgba(255 255 255 / 50%);
  text-decoration: none;
}

a:hover {
  color: rgba(255 255 255 / 80%);
}
