.emuList {
  list-style: none;
  padding: 0;
}

.emuList > li {
  border-radius: 7px;
  padding: 10px 0;
  margin: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform var(--transition-time), background-color var(--transition-time);
}

.emuList > li:hover {
  transform: scale(1.035);
}

.emuNumber {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.emuName {
  border-left: 1px solid rgb(200, 200, 200);
  padding-left: 10px;
}
