@import '@arcgis/core/assets/esri/themes/dark/main.css';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: var(--calcite-ui-text-1);
  background: radial-gradient(#0d5f7d, #111111);
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--calcite-ui-text-1);
  font-family: var(--calcite-sans-family);
}

/***********************
* Define css variables
************************/

:root {
  --border-radius: 10px;
  --transition-time: 300ms;
}

/***********************
* Overwrite css variables
* in calcite theme
************************/

.calcite-theme-dark {
  --calcite-ui-text-1: rgb(210, 210, 210);
  --calcite-ui-text-2: rgb(210, 210, 210);
  --calcite-ui-brand: rgb(210, 210, 210);
  --calcite-ui-brand-hover: rgb(175, 175, 175);
  --calcite-ui-foreground-2: transparent;
  /* --calcite-ui-border-2: rgba(255, 255, 255, 0.6); */
}

/************************
* Overwrites default
* scrollbar styles
************************/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255 255 255 / 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255 255 255 / 0.8);
}
